*{
    margin: 0;
    padding: 0;
}
.socialmedia{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    margin: 10px ;
}
a i {
    transition: all .2s linear;
}
a:hover i{
    transform:scale(1.4);

}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: purple;
}
.fa-twitter{
    color: #00acee;
}
.fa-youtube{
    color: #c4302b;
}
.fa-linkedin{
    color: #0e76a8;
}